/* General */
html,
body { height: 100%; }
body {
  padding-top: 15px;
  background: #dedede url(../img/grain.png) fixed;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.progress {
  margin: 0 auto;
  width: 300px;
}
.container {
  width: auto;
  width: 767px;
}

/* Header */
.page-header h3 { line-height: 20px }
.page-header { border-color: #ccc; }

/* Main */
.books .checkbox {
  background: #e9e9e9;
  padding: 20px 40px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.books {
  padding-top: 15px;
  clear: both;
}

.chord {
  stroke: #333;
  stroke-width: .75;
  fill-opacity: .90;
}

/* Push & Footer */
#push { padding-bottom: 20px; }
#footer { background-color: #333; }
#footer a {
  color: white;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container .credit { margin: 20px 0; }
